<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>app55-integration.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>app55-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>app55-osx.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>227547031812AD4900E38782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>227547161812AD4900E38782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2275474F1812DFC400E38782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>227547641812DFC400E38782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2280BEB018139BCB00CE0B23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2280BECC1814267C00CE0B23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2280BEE61814267C00CE0B23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2280BF191814334500CE0B23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2280BF291814334500CE0B23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
